@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 60px 0;
    --color-title: #347085;
    --color-button: #df7e27;
    --color-font: #112637;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #FFFFFF;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../img/escritorio.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #FFFFFF;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

/* Hero Container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #FFF;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center;
}

.about__title {
    color: var(--color-title);
}

.about__container {
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.about__container::before {
    content: "";
    position: absolute;
    top: 1200px;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../img/skills.jpg");
    background-size: cover;
    z-index: -1;
}

.about .about__title, .about .about__paragraph, .idiomas__container .about__title, .idiomas__container .title, .idiomas__container .about__paragraph  {
    color: #FFF;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
    color: var(--color-font)
}

.link {
    text-decoration: none;
    padding: 13px;
    background: var(--color-button);
    border-radius: 25px;
    color: #FFF;
}

.about__main {
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 360px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;
}

/* Idiomas */

.idiomas__container::before {
    content: "";
    position: absolute;
    top: 2125px;
    left: 0;
    width: 100%;
    height: 275px;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../img/idiomas.jpg");
    background-size: cover;
    z-index: -1;
}

/* Knowledge */

.knowledge__container {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1em;
    align-items: center;
}

.knowledge__picture {
    max-width: 500px;
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: justify;
    width: 550px;
    color: var(--color-font);
}

.educacion .knowledge__paragraph {
    text-align: end;
    margin-bottom: 0px !important;
}

.experiencia .knowledge__paragraph {
    text-align: left;
    margin-bottom: 0px !important;
}

.contenedor__general .experiencia {
    padding: 0px !important;
}

.knowledge__img {
    width: 100%;
    display: block;
}

/* Experiencia */

.experiencia__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.experiencia__img {
    width: 40%;
    display: block;
    margin: 50px 0px;
}

.experiencia__img--right {
    width: 40%;
    margin-right: auto;
    padding-left: 50px;
}

.experiencia__img--left {
    margin-left: auto;
    padding-right: 50px;
}

.experiencia__img--left .experiencia__img {
    margin-left: auto;
}

.educacion .subtitle {
    padding-right: 40px;
    text-align: right;
}

/* Profile */

.profile {
    background-color: #FFFFFF;
}

.profile__container {
    display: grid;
    grid-template-columns: 110px 1fr 110px;
    gap: 1em;
    align-items: center;
}

.profile__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-content: center;
    gap: 2em;
}

.profile__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__texts {
    max-width: 700px;
}

.profile__review {
    width: 400px;
    line-height: 1.7;
    text-align: justify;
    color: #112637;
}

.profile__picture {
    text-align: center;
}

/* footer */

.footer__location {
    border-top: 1px solid #e5e5e5;
}

.footer__nav .nav__links {
    color: var(--color-font);
}

.footer__nav {
    background-color: #f4f4f4;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy--container {
    background-color: var(--color-font);
}

.footer__copy {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    display: inline-flex;
    padding: 0px 10px;
}

.footer__img {
    width: 30px;
}

.footer__location .about__title {
    font-weight: 300;
}

.about__location {
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.title {
    font-size: 30px;
    padding-bottom: inherit;
    text-align: center;
    color: var(--color-title);
}

.about__location .about__icons {
    width: 340px;
}

/* Media queries */

@media (max-width:925px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .about__main {
        gap: 2em;
    }

    .about__container::before {
        top: 1550px;
        height: 600px;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture, .knowledge__texts {
        justify-self: center;
    }

    .knowledge__paragraph {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .profile__container {
        grid-template-columns: 10px 1fr 10px;
    }

    .profile__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .profile__review {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .experiencia__container {
        gap: 0em;
    }

    .educacion .subtitle, .educacion .knowledge__paragraph, .experiencia .subtitle, .experiencia .knowledge__paragraph {
        text-align: center;
    }

    .experiencia__img--left, .experiencia__img--right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .experiencia__img--right {
        width: 100%;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__social {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }

    .idiomas__container::before {
        top: 2950px;
        height: 350px;
    }
}

@media (max-width:780px) {
    .idiomas__container::before {
        top: 3010px;
        height: 350px;
    }
}

@media (max-width:600px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .experiencia__img--right {
        width: 70%;
    }

    .about__container::before {
        top: 1550px;
        height: 650px;
    }

    .idiomas__container::before {
        top: 3070px;
        height: 350px;
    }
}